<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in / Sign up Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="/login" method="POST" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="email" name="email" placeholder="Username (E-mail)" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required />
          </div>
          <input type="submit" value="Login" class="btn solid" />
        </form>
        <form action="/register" method="POST" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="email" name="email" placeholder="Username (E-mail)" required />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="text" name="full_name" placeholder="Full Name" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required />
          </div>
          <div class="input-field">
            <i class="fas fa-graduation-cap"></i>
            <input type="text" name="qualification" placeholder="Qualification" required />
          </div>
          <div class="input-field">
            <i class="fas fa-calendar"></i>
            <input type="date" name="dob" required />
          </div>
          <input type="submit" class="btn" value="Sign up" />
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Join Quiz Master and start your journey of knowledge and fun!
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>
            Welcome back to Quiz Master! Login to continue your quest for knowledge.
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='login.js') }}"></script>

</body>
</html>
